@import "mi-nav.css";
@import "mi-footer.css";
:root{
   width: fit-content;
   align-items: center;
   font-family: sans-serif;
 }
.golden{
   background-color: goldenrod;
   color: white;
   float: left;
   border: 5px solid gold;     
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-right: 1rem;
   margin-left: 9rem;
   margin-bottom: 1rem;
}
.silver{
   background-color: silver;
   color: black;
   float: left;
   border: 5px solid gray;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-right: 1rem;
   margin-bottom: 1rem;
}
.premium{
   background-color: black;
   color: white;
   float: right; 
   border: 5px solid gray;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-bottom: 1rem;   
}
.titulo{
 font-weight: bold; 
 font-size: x-large;
 padding-left: 5rem;
}
.cuerpo{
 margin: 0 auto;
 padding: 0.5rem;
 max-width: 1000px;
 align-items: center;
}

body {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0.5rem;
 }
 
 header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   background-color: white;
   margin-left: 9rem;
 }
 