@import "mi-nav.css";
@import "mi-footer.css";

:root{
   width: max-content;
   height: max-content;
   align-items: center;
 }
.golden{
   background-color: goldenrod;
   color: white;
   float: left;
   border: 5px solid gold;     
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-right: 1rem;
}
.silver{
   background-color: silver;
   color: black;
   float: left;
   border: 5px solid gray;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-right: 1rem;
}
.premium{
   background-color: black;
   color: white;
   float: right; 
   border: 5px solid gray;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
   
}
.titulo{
 font-weight: bold; 
 font-size: x-large;
 padding-left: 70px;
}
.cuerpo{
 width: fit-content;
 height: fit-content;
}